#map {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgb(180, 180, 237);
    margin-left: 120px;
}

.custom-popup-class { 
    text-align: left;
    color: rgb(100, 98, 98);
    font: Verdana; 
}

h1{
    font: 30px Verdana;
    color: rgb(100, 98, 98);
    text-align: left;
    background-color: #fff;
    padding-left: 120px;
    padding-top: 25px;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(60, 90, 180);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 120px;
}

button:hover {
    background-color: rgb(35, 56, 120);
}

button:active {
    background-color: hotpink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
